/*..............
Reset
...............*/

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*..............
Typo
...............*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*..............
Debug
...............*/




/*..............
Common
...............*/

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

/*..............
Header
...............*/

.banner {
    align-content: space-between;
    justify-items:center;
    width: 100%;
    background-color: #ff6900;
    padding: 40px 0 40px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 60px ;
}


ul {
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

/*..............
Main
...............*/

.vetrina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
}

h1 {
    font-size: 20px;
}

#marchio, #articolo, #prezzo {
    padding: 3px;
}

#prezzo {
    color: #ff0000;
}

#prezzone {
    color: #000000;
    text-decoration: line-through;
}

/*..............
Footer
...............*/

.fotter {
    align-content: space-between;
    justify-items:center;
    width: 100%;
    background-color: black;
    font-size: 5px;
    padding: 5px 0 5px 0;
}